<div id="wrapper"> 
  <div id="placeHolderContent"><!--Left side of the web page-->
    <div id="header">
      <b>
        <h1>
          {{car.brand}}  {{car.invokeName}} 
        </h1>
      </b>
    </div>
    <div id="content"><!--Transparent Div that contains car and tires images-->
      <img id="carImg" src="{{car.path}}">
      <img src="{{selectedTire.tirePath}}" id="antWheel" class="rotating">
      <img src="{{selectedTire.tirePath}}" id="postWheel" class="rotating">

    </div>
  </div>
  <div id="placeHolderSideBar"><!--Right side of the web page (Grey BG)-->
    <div id="sideBar"> <!--div that contains all avaible tire-->
      <h2>AVAIBLE TIRES</h2>
      <div class="tireElement" *ngFor="let tire of car.tires; let i=index" (click)="pitStop(tire)">
          <img [src]="tire.tirePath">
        
          <div class="textTire">
            <p>
              <b>MODEL: </b> {{tire.model}}  
                <br>
                <b>TYPE: </b>{{tire.tireType}}     
              </p>
          </div>
          <div class="textTire">
            <p>
              <b>PRICE: </b> {{tire.price}}  
                <br>
                <b>SIZE: </b>{{tire.size}}     
              </p>
          </div>
      </div>
    </div>
  </div>
</div>
