#wrapper
{
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    padding: 0;
    //background-image: url("../../../assets/img/AppImage/PirelliBackgroundBlack.png");
    //background-size: 20%;
    #placeHolderSideBar
    {
        position: absolute;
        right: 0;
        display: inline-block;
        background-color:rgb(88, 88, 88,0.58);
        width: 30%;
        height: 100%;
        margin: 0;
        #sideBar
        {
            margin: auto;
            margin-top: 18%;
            width: 95%;
            height: 90%;
            max-height: 90%;
            border-radius: 20px;
            color:  rgb(173, 173, 173,0.58);
            text-align: center;
            h2{
                color: whitesmoke;
                text-shadow: 2px 2px 4px #000000;
                margin-bottom: 10%;
                font-family: monospace;
            }
        }
        .tireElement
        {
            margin-top: 3%;
            border-radius: 20px;
            //background-color: rgb(173, 173, 173,0.58);
            width: 100%;
            position: relative;
            border-width: 1px 0 1px 0;
           // border-style: solid;
            border-color:black;
            color: whitesmoke;
            float: left;
            box-shadow: 2px 3px 5px black;

            .textTire
            {
                margin: 2%;
                margin-right: 4%;
                top: 3%;
                display: inline-block;
                p{
                    text-shadow: 2px 2px 4px #000000;
                    font-size: 120%;
                    font-family: monospace;
                }
            }
            img{
                float: left;
                width: 20%;
                margin: 1%;
            }
        }
    }
    #placeHolderContent
    {
        position: absolute;
        top: 0;   
        width: 70%;
        height: 100%;
        display: inline-block;
        #header
        {
          //  margin: 1%;
          //  border-radius: 20px;
            text-align: center;
            width: 100%;
            height: 10%;
           // background-color:rgb(173, 173, 173,0.58);
            position: absolute;
            top: 0;
            left: 0;  
            background-color: black;

           // box-shadow: 2px 3px 10px rgb(251, 255, 0);
            h1
            {
                text-shadow: 2px 2px 4px #464646;
                color: whitesmoke;
                font-family: monospace;
                font-size: 35px;
            }           
        }
        #content
        {
            margin: auto;                        
           // background-color: rgb(173, 173, 173,0.8);
           background-image: linear-gradient(to right, rgb(173, 173, 173,0.58) , rgba(255, 255, 255, 0.58)); 
            margin-top: 8%;
            width: 100%;
            height: 92%;
            //border-radius: 20px;
            position: relative;
            border: solid thin black;
            #antWheel
            {
                position: absolute;
                width: 14%;
                top:54%;
                left: 19%;
            }
            #postWheel
            {
                position: absolute;
                width: 15%;
                top:52%;
                right: 13.5%;
            }
            #carImg
            {
                display: block;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 90%;     
            }
        }
    }
}
.rotating
{
    -webkit-animation: rotation 2s infinite linear;

}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(- 359deg);
    }
}
