.wrapper
{
    position: relative;
    height: 100%;
   
    .gallery
    {
        position: relative;
        width: 100%;
        height: 89%;
        overflow-y:auto;
    }
    .category
    {
        float: left;
        margin: 2%;
        padding: 0;
        img{
            border-radius: 10px;
            
        }
        
    }
    .categoryPreview
    {
        float: right;
    }
}