################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/WebApplication1/obj/Debug/netcoreapp2.1
/WebApplication1/AlexaSkills/obj/project.assets.json
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.pdb
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.dll
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.csprojAssemblyReference.cache
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.csproj.FileListAbsolute.txt
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.csproj.CoreCompileInputs.cache
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.csproj.CopyComplete
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.assets.cache
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.AssemblyInfoInputs.cache
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1/AlexaSkills.AssemblyInfo.cs
/WebApplication1/AlexaSkills/obj/Debug/netcoreapp2.1
/WebApplication1/AlexaSkills/obj/AlexaSkills.csproj.nuget.g.targets
/WebApplication1/AlexaSkills/obj/AlexaSkills.csproj.nuget.g.props
/WebApplication1/AlexaSkills/obj/AlexaSkills.csproj.nuget.dgspec.json
/WebApplication1/AlexaSkills/obj/AlexaSkills.csproj.nuget.cache
/WebApplication1/AlexaSkills/obj
/WebApplication1/AlexaSkills/local.settings.json
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/WebApplication1.Views.pdb
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/WebApplication1.Views.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/local.settings.json
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/host.json
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/WebApplication1.pdb
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/WebApplication1.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Web.Http.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Web.Http.Cors.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Web.Cors.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Threading.Channels.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Text.Encodings.Web.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Text.Encoding.CodePages.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Runtime.CompilerServices.Unsafe.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Net.WebSockets.WebSocketProtocol.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Net.Http.Formatting.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.IO.Pipelines.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Data.SqlClient.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Composition.TypedParts.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Composition.Runtime.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Composition.Hosting.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Composition.Convention.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/System.Composition.AttributedModel.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win-x86/native/sni.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win-x86/native
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win-x64/native/sni.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win-x64/native
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win-arm64/native/sni.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win-arm64/native
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win/lib/netcoreapp2.1
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win/lib/netcoreapp2.0
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/win/lib
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes/unix/lib/netcoreapp2.1
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/runtimes
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/NuGet.Frameworks.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Newtonsoft.Json.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Newtonsoft.Json.Bson.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/NCrontab.Signed.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.WindowsAzure.Storage.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.VisualStudio.Web.CodeGeneration.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Net.Http.Headers.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Primitives.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Options.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.ObjectPool.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Logging.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Logging.Configuration.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Logging.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Hosting.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Hosting.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.FileSystemGlobbing.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.FileProviders.Physical.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.FileProviders.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.DependencyModel.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.DependencyInjection.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.Json.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.FileExtensions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.Binder.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.DotNet.PlatformAbstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.CodeAnalysis.Workspaces.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.CodeAnalysis.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.CodeAnalysis.CSharp.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Build.Utilities.Core.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Build.Framework.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Host.Storage.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Host.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Extensions.Http.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Extensions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.WebUtilities.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.WebSockets.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.SignalR.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.SignalR.Core.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.SignalR.Common.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Routing.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Routing.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Razor.Language.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Mvc.WebApiCompatShim.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Mvc.Core.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Mvc.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.JsonPatch.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.Features.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.Extensions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.Connections.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.Connections.Common.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Hosting.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Connections.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Authorization.Policy.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Authorization.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Authentication.Core.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Authentication.Abstractions.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/extensions.json
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/dotnet-aspnet-codegenerator-design.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/DAL.pdb
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/DAL.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/BLL.pdb
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/BLL.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/AlexaSkills.pdb
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/AlexaSkills.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin/Alexa.NET.dll
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/bin
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/AlexaSkills.deps.json
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/Alexa/function.json
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1/Alexa
/WebApplication1/AlexaSkills/bin/Debug/netcoreapp2.1
/WebApplication1/AlexaSkills
