WebApplication1/DAL/obj/DAL.csproj.nuget.dgspec.json
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide-shm
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide-wal
WebApplication1/DAL/obj/DAL.csproj.nuget.cache
WebApplication1/DAL/obj/DAL.csproj.nuget.g.props
WebApplication1/DAL/obj/project.assets.json
WebApplication1/DAL/obj/Debug/netcoreapp2.1/DAL.assets.cache
WebApplication1/DAL/obj/Debug/netcoreapp2.1/DAL.csproj.CoreCompileInputs.cache
WebApplication1/DAL/obj/Debug/netcoreapp2.1/DAL.csprojAssemblyReference.cache
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
WebApplication1/WebApplication1/obj/project.assets.json
WebApplication1/WebApplication1/obj/Debug/netcoreapp2.1/WebApplication1.assets.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp2.1/WebApplication1.csproj.CoreCompileInputs.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp2.1/WebApplication1.csprojAssemblyReference.cache
/WebApplication1/WebApplication1/obj/Debug/netcoreapp2.1
/.vscode
