<!--Self made slider with ng classes controlled by sliderEngine()-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div id="mySliderBox">
  <div *ngFor="let media of elements;let i = index" class="mySlides" id="{{'media'+ i}}" [ngClass]="{'mySlidesVisible': startingSlide==i}">
    <img src="{{media.path}}" style="width:100%" *ngIf="media.value==1" >
    <video controls *ngIf="media.value==0">
      <source src={{media.path}} type="video/mp4">
    </video>
  </div>
</div>
<!--Provvisory Debug Button, need to start sliding item after
the json is loaded and deserialized-->
<!--<button (click)="slideEngine()" class="btn btn-primary"> start sldie</button>-->
<button (click)=" signalRDirectiveListener()" class="btn btn-primary"> start sldie</button>


