
    img
    {
        width: 100%;
            border-radius: 15px;
       
        
    }
    video{
        width:100%;
        border-radius: 15px;

    }


.mySlides
{
    display: none;
}

.mySlidesVisible
{
    display: block;
}
body    
    { background: #efefef url("../../../assets/img/AppImage/PirelliBackground.jpg") repeat fixed top left;
        background-size: 20%; 
    }
#mySliderBox
{
    width: 55%;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
