
body {
    background-color: rgb(39, 37, 37);
    margin:0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;  
  }
  //div that contains every element of page
  #wrapper
  {
      background-color: rgb(39, 37, 37);
      margin:auto;
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      overflow: hidden;
      position: fixed;
    h1{
      color: whitesmoke;
      font-style: unset;
    }
     
    //class applied to each video 
      .listItem
      {   
          margin: 5%;
          width: 22.5%; 
          display: inline-block;
          video
          {
              width: 100%;
              margin: 0;
              //border-radius: 20px;
          }
          img{
            width: 100%;
            margin: 0;
          }
      }
  
  }

  //where name and numver of a video are displayed
.infoBox
  {
      text-align: center;
      color: whitesmoke;
      //background-color: rgb(86, 99, 110);
      width: 100%;
      height: 10%;
      top: 90;
      opacity: 0.58;
      margin-top: 2%;
      position: relative; 
      //border-radius: 20px;
      //box-shadow: 0 10px 6px -6px #888888;  
      font-size: 20px;
  }
  
  #logo
  {
    margin-top: 2%;
    p{
      display: inline-block;
      font-size: 100%;
      color: white;
    }
  }
 

  #headerImg
  {
    //border-radius: 20px;
    width: 17%;
    display: inline-block;
    margin: auto;
  }

  //to create all pages in a non visible position
  //change dinamicly content of the div cause several problem in video Loading
  //so we decide to create all pages than move them
  .videoPage
  {
    position: absolute;
    height: 70%;
    width: 100%;
    left: 100%;
  }
  //to display first videoPage of *ngFor
  .first
  {
    left: 0;
  }



//classes for bottom dot that indicate whic page is currently displayed in video gallery
  //comune dot 
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    float: left;    
    margin: 5px;
  }
  //selected dot
  .selected
{
  background-color: rgb(126, 126, 126);
  border:solid thin#bbb;
  box-shadow: 2px 1px 6px #ffd901;
}

  //to center a absolute div
  .centerDot //create a absolute div and make it start at center of the page
  {
    position: absolute; left: 50%;
    bottom: 30px;

    #dot  //then make a div start from - half of it's size (life hack!!)
    {
      position: relative;
      left: -50%;
      width: 100%;
    } 
  }

  
  