<div id="wrapper">
  <div id="logo">
    <img id="headerImg" src="../../../assets/img/AppImage/PirelliBackground.png">
  </div>
  <div>
    <div *ngFor="let media of pages[indexPage].sixElements;let i=index;"  class="listItem" >
         <a (click)="sendData(media)">
            <video [muted]="'muted'" autoplay="autoplay" loop >
              <source src={{media.path}}>
            </video>
            <div class="infoBox">{{i+1}}) {{media.name}}
            </div>
        </a>
      </div>
</div>
</div>
