<div id="wrapper">
  <div id="logo">
    <img id="headerImg" src="../../../assets/img/AppImage/pirelli.white.png">
  </div>
    <div class="videoPage" *ngFor="let page of pages; let i=index" id="page{{i}}" [ngClass]="{'first': isVisible(i)}" >
        <div *ngFor="let media of page.sixElements; let k=index;trackBy:trackByFn" class="listItem">
             <a (click)="sendData(media)">
                <video [muted]="'muted'" autoplay="autoplay" loop >
                  <source src={{media.path}}>
                </video>
                <div class="infoBox">{{k+1}}) {{media.name | uppercase}}
                </div>
            </a>
          </div>
    </div>
    <div class="centerDot">
        <div id="dot">
          <span class="dot" *ngFor="let item of pages;let i=index" [ngClass]="{'selected': selected(i)}"></span>
        </div>
    </div>
  </div>
