
body {
    background-color: rgb(39, 37, 37);
    margin:0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;  }
  #wrapper
  {
      background-color: rgb(39, 37, 37);
      margin:auto;
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      overflow: hidden;
      position: fixed;
    h1{
    
      color: whitesmoke;
      font-style: unset;
    }
     
      .listItem
      {   
          margin: 5%;
          width: 22.5%; 
          display: inline-block;

          video
          {
              width: 100%;
              margin: 0;
              //border-radius: 20px;
          }
      }
  
  }
.borderYellow
  {
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(223, 223, 0);
    border-width: 2%;
    padding:5%;
    box-shadow: 0 10px 6px -6px #888888;
  }
.infoBox
  {
      text-align: center;
      color: whitesmoke;
      background-color: rgb(86, 99, 110);
      width: 100%;
      height: 10%;
      top: 90;
      opacity: 0.58;
      margin-top: 0;
      position: relative; 
      border-radius: 20px;
      box-shadow: 0 10px 6px -6px #888888;  
  }
  
  #logo
  {
    margin-top: 2%;
    p{
      display: inline-block;
      font-size: 100%;
      color: white;
    }
  }
 
  #headerImg
  {
    //border-radius: 20px;
    width: 17%;
    display: inline-block;
    
    margin: auto;
  }
  
  