form
{
    width: 70%;
    position: absolute;
    top: 10%;
    left: 15%;
}

.center
{
   
    margin: auto;
}
.medium
{
    display: block;
    width: 50%;
}

.small
{
    display: inline-block;
    width: 20%;
}
.consecutive
{
    margin:2%;
}