.wrapper
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgb(0, 0, 0);
     .tire
    {
        opacity: 0;
        width: 33.3%;
        display: inline-block;
        .breath
        {
            width: 100%;
            margin:auto;
            margin: 5%;
            
            .brouchure
            {
                h2
                {
                    margin: 2%;
                    margin-top: 8%;
                }
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 20px;
                color: whitesmoke;width: 80%;
                display: block;
                margin: auto;
                margin-top:-6%;
                overflow: auto;

                border-radius: 0px 0 10px 10px;
                background: linear-gradient(0deg,#5a5a5a 0%, rgba(0,0,0,1) 100%); /* w3c */
                img   {
                    width: 270px;
                    margin: auto;
                    display: block;
                    border-radius: 10px;
                }
            }
        }
    }
    .middle
    {
        margin: auto;
        width: 80%;
        margin-top: 14%;
    }
}