<div class="wrapper">
        <div class="middle">
                <div class="tire" id="1">
                        <div class="breath">
                            
                            <div class="brouchure">
                                <img src={{tires[0].tirePath}}>
                                <h2> {{tires[0].model}}</h2>
                                Type: {{tires[0].tireType}}<br>
                                Price: {{tires[0].price}}<br>
                                Size: {{tires[0].size}}
                                
                            </div>
                        </div>
                    </div>
                    <div class="tire" id="2">
                        <div class="breath">
                            <div class="brouchure">
                                    <img src={{tires[1].tirePath}}>

                                    <h2> {{tires[1].model}}</h2>
                                    Type: {{tires[1].tireType}}<br>
                                    Price: {{tires[1].price}}<br>
                                    Size: {{tires[1].size}}
                                    
                                </div>
                        </div>
                    </div>
                    <div class="tire" id="3">
                        <div class="breath">
                            <div class="brouchure">
                                    <img src={{tires[2].tirePath}}>

                                    <h2> {{tires[2].model}}</h2>
                                    Type: {{tires[2].tireType}}<br>
                                    Price: {{tires[2].price}}<br>
                                    Size: {{tires[2].size}}
                                    
                                </div>
                        </div>
                    </div>
        </div>
</div>