<div class="wrapper">
    <div class="leftSide">
        <div class="image">
            <img src="{{tire.tirePath}}">
            <h1>
                {{tire.model}}
            </h1>         
        </div>
        <div class="images">
            <img src="assets/img/ModifiedBrochure.png" class="brochure">
            <img src="assets/img/tire2.png" class="brochure">
        </div>
    <br>
        <div class="text">
           SIZE: {{tire.size | uppercase }}<br>
           TYPE: {{tire.tireType| uppercase}}<br>
           PRICE: {{tire.price}}<br>

           
        </div>
    </div>
    <div class="rightSide"> 
        <div class="video">
            <div class="videoElement">
                <video [muted]="'muted'" autoplay="autoplay" loop  >
                    <source src={{videos[0].path}}>
                </video>
            </div>
            <div class="videoElement">
                <video [muted]="'muted'" autoplay="autoplay" loop >
                    <source src={{videos[1].path}}>
                </video>
            </div>
            <div class="videoElement">
                <video [muted]="'muted'" autoplay="autoplay" loop >
                    <source src={{videos[2].path}}>
                </video>
            </div>
        </div>
    </div>
</div>