<form [formGroup]="formController" class="formsmall">
        <h3>Create a new category</h3>
        <br>
        <mat-form-field >
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <br> 
        <mat-form-field  >
          <textarea matInput formControlName="description" placeholder="Description" name="Description" ></textarea>
        </mat-form-field>
      <br> 
      <mat-form-field>
        <ngx-mat-file-input (change)="onFileChange($event)" formControlName="fileName" accept=".png,.jpeg"   placeholder="Category Image" ></ngx-mat-file-input>
    </mat-form-field>
        <mat-progress-bar class="medium"style="margin:3%;" *ngIf="uploading==true" mode="determinate" [(value)]="uploadProgress"></mat-progress-bar>
<button [disabled]="!formController.valid" mat-raised-button (click)="sendCategory()">send</button>
      
  </form>


