
body {
  background: #efefef url("../../../../assets/img/AppImage/PirelliBackground.jpg") repeat fixed top left;
  background-size: 20%;
}
#wrapper
{
    background-color: #fff;
    border-radius: 20px;
    margin:auto;

   
    .listItem
    {   
        margin-left: 5%;
        margin-right:2.5%;
        margin-top:5%;
        width: 40%; 
        float: left;
        border-radius: 20px;
        img
        {
            width: 100%;
            margin: 0;
            border-radius: 20px;
        }
    }

}
.textbox
{
    text-align: center;
    color: black;
    margin-bottom: 20;
    position: relative;   
}


